<footer>
    <svg class="shadow_angle" viewBox="0 0 100 10">
        <path d="M0,0 0,5 100,10 100,0" fill="white"></path>
    </svg>
    <div class="content_footer">
        <article class="article_address_about">
            <div class="about_us_footer">
                <h2>A LITTLE ABOUT US</h2>
                <p>
                    We know that transparency is non-negotiable and that strong communication is the foundation of
                    any
                    great relationship. With the knowledge and expertise that we have, we are confident that we
                    can make an impact on your business and its bottom line.
                </p>
            </div>
            <div class="address" style="padding-top:2rem">
                <div class="sub_address">
                    <h1> Birmingham</h1>
                    <address> 50 Benton road b111ty</address>
                </div>

                <div class="sub_address_img">
                    <img src="../../public/images/birmingham.png" alt="birmingham">
                </div>
            </div>

            <div class="address">
                <div class="sub_address">
                    <h1> Paris</h1>
                    <address> 1 allee des être soisy sous montmorency France</address>
                </div>
                <div class="sub_address_img">
                    <img src="../../public/images/paris.png" alt="paris">
                </div>
            </div>


        </article>
        <article class="article_in_touch">
            <div class="sub_in_touch1">
                <h2>GET IN TOUCH</h2>
                <div class="nav_footer">
                    <ul>
                        <li style="padding-top:0rem"><a href="./home.html">Home</a></li>
                        <li><a href="./projects.html">Projects</a></li>
                        <li>
                            <a href="./price.html" target="_blank" rel="noopener noreferrer">Price</a>
                        </li>
                    </ul>
                    <ul>
                        <li style="padding-top:0rem;"><a href="./services.html">Services</a></li>
                        <li><a href="./about.html">About</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="sub_in_touch2">
                <a class="center_inlineBlock" style="padding-top: 2rem;"> <button class="btn">Contact</button></a>
            </div>
        </article>
    </div>
    <div class="footer_info" style="padding-right: 10px;">
        © 2020 N-S Web Design and Marketing. All rights reserved.
        <a href="/terms-of-service" target="_blank">Terms of Service</a>
    </div>

</footer>