<header>
    <div class="nav_content_header">
        <nav class="nav_desktop">
            <ul>
                {{!--Do not write public folder as it's already considered../../public/index.html --}}
                <li><a href="../../index.html">Home</a></li>
                <li><a href="../../project.html">Projects</a></li>
                <li><a href="../../price.html">Price</a></li>
            </ul>
            <span> Brand</span>
            <ul>
                <li><a href="../../services.html">Services</a></li>
                <li><a href="../../about.html">About</a></li>
                <li><a href="../../contact.html">Contact</a></li>
            </ul>
        </nav>
        <nav class="nav_mobile">
            <div class="bar_nav_mobile">
                <span class="icone">BRAND</span>
                <div id="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div class="menu_mobile">
                <ul class="submenu_mobile_header">
                    <li><a href="../../index.html">HOME</a></li>
                    <li><a href="../../project.html">PROJECTS</a></li>
                    <li><a href="../../price.html">PRICE</a></li>
                    <li><a href="../../services.html">SERVICES</a></li>
                    <li><a href="../../about.html">ABOUT</a></li>
                    <li><a href="../../contact.html">CONTACT</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="presentation_header">
        <h1 class="fade_right_1">{{indice}}</h1>
    </div>
    <div class="border_header_effect_clip"></div>
    <canvas id="canvas1"></canvas>
</header>