<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Do not write public--}}
    <link rel="stylesheet" type="text/css" href="../../css/body.css" />
    <link rel="stylesheet" href="css/template.css">
    <title>Error</title>
</head>

<body>
    {{>header}}
    {{{body}}}
    {{>footer}}
</body>

</html>