<div class="sections_content">
    <section>
        <h2 style="height:1.5rem;">Hoops, something went wrong !</h2>
        <p> Enable Javascript and try again to check the error message indicated. It could be the
            result of using symbole such ["*, $"] that are prohibited </p>
        <br>
        <p>Please let us know whether you are still facing the issue at: ns-dev@arasna.com</p>
    </section>
</div>